

/* HEX: #588c7e

HEX: #f2e394

HEX: #f2ae72

HEX: #d96459 */



body{
  /* background: linear-gradient(10deg, #ddd, #fff); */
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;


  /* margin: 0; */
  padding: 0;
  background: #588c7e;
  font-family: Arial, Helvetica, sans-serif;
  transition-timing-function: ease;
}

h1 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);

  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #f9f9f9;
  font: 3em "Lato", sans-serif;
  transition-timing-function: ease;

}

h2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);

  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #f9f9f9;
  font: 1.8em "Lato", sans-serif;
  opacity: 0;
  transition-timing-function: ease;
}



ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  display: flex;
}

ul li{
  list-style: none;
}

ul li a{
  position: relative;
  width: 5em;
  height: 5em;
  display: block;
  text-align: center;
  margin: 0 2em;
  border-radius: 50%;
  padding: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .3s ease-in-out;
}

ul li a:hover{
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

ul li a .fas{
  width: 100%;
  height: 100%;
  line-height: calc(1.6em);
  display: block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  font-size: 2.5em;
  color: #262626;
  transition: .5s ease;
}



.footer{
  position: absolute;
  top: 90%;
  font-size: 1.5em;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
  color: #f9f9f9;
}

#home {
  left: 10%;
}

#contact {
  left: 90%;
}

.footer:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);

  color: white;   

}

#particles-js{
  height: 99%;
}
