html, body {
  height: 100%;
}

body {
	padding: 0; 
	margin: 50;
}

h1{
	text-align: center;
	color: rgba(0, 102, 153, 100);
	font-family: 'Faster One', cursive;
	font-size: 80px;
}

#sketch-holder{
  margin: 0;
  display: flex;





  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}