body {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    background-color: #e4e4e4;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
}

p {
    letter-spacing: .2rem;
}

h1 {
    letter-spacing: .2rem;
    color: rgb(58, 58, 58);
}

h2 {
    letter-spacing: .3rem;
    color: darkgrey;
}

@media (min-width: 650px) {
    .grid {
        padding: 1rem;
        border-radius: 1rem;
        -webkit-box-shadow: 5px 5px 10px #a2a2a2, -5px -5px 10px #ffffff;
        -moz-box-shadow: 5px 5px 10px #a2a2a2, -5px -5px 10px #ffffff;
    }
    .box {
        letter-spacing: 0.1rem;
        font-family: 'Abril Fatface', cursive;
        min-width: .7rem;
        margin: .2rem;
        padding: 0.8rem;
    }
    .divbutton:focus {
        outline: none;
    }
    .divbutton:hover {
        transition-duration: .8s;
        color: white;
        background-color: #4CAF50;
        border-radius: 1rem;
        border: none;
        -webkit-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0);
        -moz-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0);
    }
}

@media (max-width: 650px) {
    .box {
        letter-spacing: 0.1rem;
        min-width: .5rem;
        margin: .1rem;
        padding: 0.3rem;
    }
}

.line {
    display: flex;
    padding: .2rem;
}

.box {
    flex: 1;
    text-align: center;
    border: none;
    /* background-color: white; */
}

.box:not(.disabled) {
    cursor: pointer;
    transition: ease-in-out 0.6s;
    background-color: #eeeeee;
    -webkit-box-shadow: 0 2px 20px -10px rgba(0, 0, 0, .57);
    -moz-box-shadow: 0 2px 20px -10px rgba(0, 0, 0, .57);
}

.box.clicked:not(.disabled) {
    transition: ease-in-out 0.1s;
    color: hsla(0, 0%, 20%, 0.3);
    background-color: #e4e4e4;
    border-radius: 1rem;
    border: dashed hsla(0, 0%, 20%, 0.1);
    -webkit-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0);
}

.box.disabled {
    border-radius: 1rem;
    border: dashed hsla(0, 0%, 20%, 0.1);
}

#buttons {
    display: flex;
    max-width: 50%;
    min-width: 11rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.divbutton {
    cursor: pointer;
    transition-duration: 1.8s;
    margin: 1rem;
    padding: .2rem;
    letter-spacing: .2rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    text-align: center;
    flex: 1;
    width: 5rem;
    text-decoration: none;
    -webkit-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, .57);
    -moz-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, .57);
}

#drawnButton {
    padding: 0.8rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

#drawn {
    display: flex;
    align-items: left;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}

.drawnValue {
    transition: ease-in-out 1.8s;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 0.1rem;
    padding: .8rem;
    width: 2rem;
    text-align: center;
    margin: .3rem;
    -webkit-box-shadow: 0 2px 20px -10px rgba(0, 0, 0, .57);
    -moz-box-shadow: 0 2px 20px -10px rgba(0, 0, 0, .57);
}

.drawnValue:hover {
    transition: ease-in-out 0.2s;
    color: white;
    border-radius: 1rem;
    background-color: #4CAF50;
    -webkit-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0);
}

#signature {
    color: #bdbdbd;
    text-align: end;
    margin: 2rem 0 2rem 0;
}