body {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    background-color: rgb(228, 228, 228);
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
}

#grid {
    padding: 0.2rem;
    border: solid #bf0000 0.1rem;
}

.line {
    display: flex;
}

.box {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 0.1rem;
    padding: 1rem;
    flex: 1;
    min-width: 1rem;
    text-align: center;
    border: solid rgb(87, 87, 87) 0.1em;
}

.box:not(.disabled) {
    cursor: pointer;
}

.box.clicked:not(.disabled) {
    color: white;
    background-color: #bf0000;
}

.box.disabled {
    background-color: #007500;
}