<!DOCTYPE html>
<html>
  <head>
    <title>YL {{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">

  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/blog">Tutorials</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>

  <footer>
   <ul>
   <li><a href="mailto:yrieix.leprince@gmail.com">email</a></li>
   <li><a href="https://github.com/yleprince">github.com/yleprince</a></li>
   </ul>
  </footer>
  </body>

</html>
